@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-image: url("./Images/x-mas3.jpg");
    background-size: cover; 
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: hidden;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 6rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 3rem;
}

.cd-element {
    text-align: center;
}

.cd-element span {
    font-size: 1.5rem;
}